<div class="page-header">

  <h1>Sources</h1>

</div>

<div class="social-metro">
        <div class="columns is-gapless is-multiline">
            <div class="column is-6">
                <div class="metro-icon is-big is-facebook">
                    <i class="fa fa-facebook"></i>
                </div>
            </div>
            <div class="column is-3">
                <div class="metro-icon is-small is-twitter">
                    <i class="fa fa-twitter"></i>
                </div>
                <div class="metro-icon is-small is-github">
                    <i class="fa fa-github"></i>
                </div>
            </div>
            <div class="column is-3">
                <div class="metro-icon is-small is-google-plus">
                    <i class="fa fa-google-plus"></i>
                </div>
                <div class="metro-icon is-small is-linkedin">
                    <i class="fa fa-linkedin"></i>
                </div>
            </div>
            <div class="column is-6">
                <div class="metro-icon is-small is-youtube">
                    <i class="fa fa-youtube"></i>
                </div>
            </div>
            <div class="column is-6">
                <div class="metro-icon is-small is-rss">
                    <i class="fa fa-rss"></i>
                </div>
            </div>
        </div>
    </div>
