<%- model_class = Campaign -%>
<div class="column is-5">
    <div class="flex-card light-bordered light-raised">
        <h3 class="card-heading has-icon no-margin">New Campaign</h3>

        <div class="card-body is-responsive">
            <%= render 'form' %>
        </div>
    </div>
</div>
