<div class="page-header">

  <h1>Activity Feed</h1>

</div>


<div class="flex-card light-bordered light-raised padding-10">
    <h3 class="card-heading">Activity feed</h3>
    <div class="header-control ml-auto is-drop drop-sm">
        <i class="sl sl-icon-arrow-down"></i>
        <div class="dropContain">
            <div class="dropOut">
                <ul>
                    <li><i class="drop-icon sl sl-icon-refresh"></i> Refresh</li>
                    <li><i class="drop-icon sl sl-icon-user"></i> My activity</li>
                    <li><i class="drop-icon sl sl-icon-people"></i> All activity</li>
                </ul>
            </div>
        </div>
    </div>
    <ol class="simple-feed">
        <!-- Feed item -->
        <li class="feed-item">
            <div class="feed-item-text">
                <span class="date">2 minutes ago</span>
                <span class="text"><span class="name">Henry Rodstein</span> sent you a Message.</span>
            </div>
        </li>
        <!-- Feed item -->
        <li class="feed-item">
            <div class="feed-item-text">
                <span class="date">3 hours ago</span>
                <span class="text">You have 5 new messages.</span>
            </div>
        </li>
        <!-- Feed item -->
        <li class="feed-item">
            <div class="feed-item-text">
                <span class="date">5 hours ago</span>
                <span class="text"><span class="name">Marjory Cambell</span> is now following you.</span>
            </div>
        </li>
        <!-- Feed item -->
        <li class="feed-item">
            <div class="feed-item-text">
                <span class="date">Yesterday</span>
                <span class="text">You have 3  invoices pending.</span>
            </div>
        </li>
        <!-- Feed item -->
        <li class="feed-item">
            <div class="feed-item-text">
                <span class="date">Monday</span>
                <span class="text"><span class="name">Eleanor Briggs</span> liked your Post.</span>
            </div>
        </li>
        <!-- Feed item -->
        <li class="feed-item">
            <div class="feed-item-text">
                <span class="date">Last week</span>
                <span class="text"><span class="name">Kevin Smith</span> added a Project.</span>
            </div>
        </li>
    </ol>
</div>
<!-- /Widget -->
