<div class="page-header">

  <h1>Members</h1>

</div>


<div class="flex-card light-bordered light-raised padding-10">
    <h3 class="card-heading">Members</h3>
    <ul class="user-list">
      <% @tenant.members.each do |member| %>
        <li>
            <div class="user-list-avatar">
                <img src="https://place-hold.it/250x250" alt="">
            </div>
            <div class="user-list-info">
                <div class="name"><%= member.user.email %></div>
                <div class="position">CEO</div>
            </div>
            <div class="user-list-status is-online"></div>
        </li>
        <% end %>
    </ul>
    <%= link_to "Add Members", new_member_path, class: 'button btn-dash secondary-btn is-raised is-fullwidth rounded no-lh' %>
</div>
<!-- Widget -->
