<!-- Top Navbar -->
<nav class="nav dashboard-nav has-shadow">
    <div class="container is-fluid">
        <!-- Nav left -->
        <div class="nav-left">
            <!-- Logout button -->
            <% if current_user %>

            <% else %>
            <div class="nav-item nav-icon logout-button">
                <%= link_to new_user_session_path do %>
                <i class="sl sl-icon-power"></i>
                <% end %>
            </div>
            <% end %>
            <!-- /Logout button -->

            <!-- Reader mode switch -->
            <div class="nav-item reader-switch is-hidden-desktop is-hidden-tablet">
                <div class="field">
                    <input id="reader-mode-switch" type="checkbox" name="reader-mode-switch" class="switch is-outlined is-primary is-small">
                    <label id="reader-mode-toggle" for="reader-mode-switch"></label>
                </div>
            </div>
            <!-- Reader mode switch -->

            <!-- Quick search (hidden on mobile) -->
            <div class="nav-item">
                <div class="field is-hidden-mobile">
                    <div class="searchbox control has-icons-left">
                        <input class="input is-secondary-focus" type="text" placeholder="Quick search">
                        <span class="icon is-left">
                            <i class="sl sl-icon-magnifier"></i>
                        </span>
                    </div>
                </div>
            </div>
            <!-- /Quick search -->

            <!-- Global search (visible on mobile only) -->
            <div class="nav-item nav-icon search-icon modal-trigger is-hidden-desktop is-hidden-tablet" data-modal="search-modal">
                <i class="sl sl-icon-magnifier"></i>
            </div>
            <!-- /Global search -->

            <!-- Right sidebar trigger (visible on mobile only)  -->
            <div class="nav-item nav-icon chat-button is-hidden-desktop is-hidden-tablet" data-show="quickview" data-target="main-quickview">
                <i class="im im-icon-Speach-Bubble11"></i>
            </div>
            <!-- /Right sidebar trigger -->
        </div>
        <!-- /Nav left -->

        <!-- Nav right -->
        <div class="nav-right nav-menu">
            <!-- Admin options (hidden on mobile) -->
            
            <% if current_user %>

          <div class="collapse navbar-collapse" id="nav-collapse">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <!-- The Profile picture inserted via div class below, with shaping provided by Bootstrap -->
                        <div class="img-rounded profile-img"></div>
                        <%= current_user.email %> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                          <%= link_to edit_user_registration_path, class: "profile-trigger" do %>
                              <img class="main-menu-avatar" src="https://place-hold.it/250x250" alt="">
                              <span class="dot"></span>
                          <% end %>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
            <% end %>
            <!-- /admin options -->
        </div>
        <!-- /Nav right -->
    </div>
</nav>
<!-- /Top Navbar -->
